@import "variables";

// GENERAL
html, body {
  height: 100%;
}
body{
  background: $bodyBackg;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $font;
  font-size: $fontSize;
}

em {
  font-size: $smallLetters;
}
.wrapper {
  min-height: 100%;
  position: relative;
}

// NAVIGATION
.navbar {
  ul li a {
    font-size: $fontSize / 1.3;
    border-left: $line solid darken($secondColor, 20%);
    padding: 0 15px ;
    margin: 15px 0;
  }
}

// HEADER
.topBlok {
  padding: 5em 0;
  bottom: 1em;
  h1, h3 {
    color: $fontColorLight;
    margin: 0 auto;
    text-align: center;
    padding-top: 1em;
  }
  h1 {
    font-size: $fontSize * 4;
  }
}

header{
  background-color: $firstColor;
  border-bottom:$bigLine solid $secondColor;
}

// BLOG ITEMS
section {
  background-color: $bodyBackg;
  z-index: 90;
  margin-top: -20px;
  padding-top: 20px;
  padding-bottom: 400px;
}

article {
  margin: 0 2% 1% 0;
  width: $mob_width;
  height:30em;
  border-bottom: $line solid darken($secondColor, 20%);
  float: left;
  padding: 1%;
  div {
    overflow: hidden;
  }
  p {
    font-size: $fontSize / 1.5;
  }
  .readOn {
    float: right;
    font-size: $fontSize /1.3;
    font-variant: small-caps;
  }
}
.respImg {
  width: $mob_widthImg;
  margin: 0 auto;
  padding: 0.750em;
}

.fullArticle {
  width: 80%;
  height: auto;
  padding: 0 10%;
}


// COMMENTS
.comments {
  //border: $line dashed black;
  bottom: 380px;
  width: 80%;
  margin-top: 20px;
  padding:0 10%;
  border-bottom: $line solid darken($secondColor, 20%);
  margin-left: 10%;
}

// BUTTONS
.back {
  background-color: transparent;
  display: inline-block;
  float: left;
  margin: 25px 0 0 -25px;

  a {
    background-color: $secondColor;
    padding: 5px;
  }
}

// ASIDE.
aside {
  //border-top: $line solid darken($secondColor, 20%);
  border-bottom: $line solid darken($secondColor, 20%);
  position: absolute;
  top: 393px;
  right: 0;
  float: right;
  text-align: right;
  padding-right: 15px;
  margin-right: 21.5px;
  width: $mob_width * 0.6;
  a {
    font-size: $fontSize / 1.5;
  }
}

ul {
  padding: 0;
  li {
    list-style-type: none;
  }
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
#recent {
  li {
    border-bottom: 1px dotted $secondColor;
  }
}

// FOOTER
footer {
  background-color: $footerBackg;
  border-top: $line solid darken($secondColor, 20%);
  font-size: $fontSize / 1.5;
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
  div {
    display: inline-block;
    padding:$bigLine;
    ul {
      float: left;
      li {
        float: left;
        padding:$bigLine 15px;
        border-left: $line solid $secondColor;
      }
    }
  }
}
.footerMenu {
  width: 100%;
  margin: 0 auto;
  padding-left: 10%;
}



// Media Queries
@media screen and (max-width: 1000px) {
  article {
    height: 15em;
    div>p{
      display: none;
    }
    h3 {
      font-size: $fontSize - 3px;
      font-weight: bold;
    }
  }
  .fullArticle {
    div>p {
      display: block;
    }
  }
}

@media screen and (max-width: 800px) {
  section {
    border-top:$bigLine solid $secondColor;
  }
  article {
    height: auto;
    width: 100%;
    .respImg {
      width: $mob_widthImg;
    }
    div>p{
      display: inline;
    }
    h3 {
      font-size: $fontSize - 3px;
      font-weight: bold;
    }
  }
  aside {
    width: 100%;
    background-color: $bodyBackg;
    position: absolute;
    bottom: 80px;
    top: auto;
    right: auto;
    border-top: none;
    margin-right: 0;
  }
  .knopTekst {
    display: none;
  }
  .back {
    margin-left: 5px;
  }

}