@import "variables";

// GENERAL
body{
  background: $bodyBackg;
  width: 100%;
  font-family: $font;
  font-size: $fontSize;
}



em {
  font-size: $smallLetters;
}

// HEADER
.topBlok {
  padding: 5em 0;
  bottom: 1em;
  h1, h3 {
    margin: 0 auto;
    text-align: center;
    padding-top: 1em;
  }
}

header{
  background-color: $firstColor;
  border-bottom: 1.5em solid $secondColor;
}

// BLOG ITEMS
article {
  margin: 0 2% 1% 0;
  width: $mob_width;
  height:28em;
  border: 2px dashed;
  float: left;
  padding: 1%;
  div {
    overflow: hidden;
  }
  p {
    font-size: $fontSize / 1.5;
  }
  .readOn {
    position: relative;
    bottom: 0;
    float: right;
    font-size: $fontSize /1.3;
    font-variant: small-caps;
  }
}
.respImg {
  width: $mob_widthImg*1.2;
  margin: 0 auto;
  padding: 0.750em;
}

aside {
  position: absolute;
  top: 370px;
  right: 3%;
  float: right;
}

footer {
  background-color: $footerBackg;
}




// Media Queries
@media screen and (max-width: 1000px) {
  article {
    height: 15em;
    div>p{
      display: none;
    }
    h3 {
      font-size: $fontSize - 3px;
      font-weight: bold;
    }
  }
}